[submodule "python-mode"]
	path = python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "python-indent"]
	path = python-indent
	url = git://github.com/gg/python.vim.git
[submodule "headlights"]
	path = headlights
	url = git://github.com/vim-scripts/Headlights.git
[submodule "file-line"]
	path = file-line
	url = git://github.com/bogado/file-line.git
[submodule "vim-rooter"]
	path = vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim-dev-plugin"]
	path = vim-dev-plugin
	url = git://github.com/c9s/vim-dev-plugin.git
[submodule "Decho"]
	path = Decho
	url = git://github.com/vim-scripts/Decho.git
[submodule "vim-fix-git-diff-path"]
	path = vim-fix-git-diff-path
	url = git@github.com:alikins/vim-fix-git-diff-path.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
