[submodule "python-mode"]
	path = python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "python-indent"]
	path = python-indent
	url = git://github.com/gg/python.vim.git
[submodule "headlights"]
	path = headlights
	url = git://github.com/vim-scripts/Headlights.git
[submodule "file-line"]
	path = file-line
	url = git://github.com/bogado/file-line.git
[submodule "vim-rooter"]
	path = vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "vim-dev-plugin"]
	path = vim-dev-plugin
	url = git://github.com/c9s/vim-dev-plugin.git
[submodule "Decho"]
	path = Decho
	url = git://github.com/vim-scripts/Decho.git
[submodule "vim-fix-git-diff-path"]
	path = vim-fix-git-diff-path
	url = git@github.com:alikins/vim-fix-git-diff-path.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-paren-crosshairs"]
	path = vim-paren-crosshairs
	url = git://github.com/chreekat/vim-paren-crosshairs.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "sort-python-imports"]
	path = sort-python-imports
	url = git://github.com/vim-scripts/sort-python-imports.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim-textobj-between"]
	path = vim-textobj-between
	url = git://github.com/thinca/vim-textobj-between.git
[submodule "vim-textobj-python"]
	path = vim-textobj-python
	url = git://github.com/bps/vim-textobj-python.git
[submodule "cltrp-extensions"]
	path = cltrp-extensions
	url = git://github.com/sgur/ctrlp-extensions.vim.git
[submodule "ctrlp-extensions"]
	path = ctrlp-extensions
	url = git://github.com/sgur/ctrlp-extensions.vim.git
[submodule "yankring"]
	path = yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
